* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
    height: 100%;
}
/* body {
    background-image: linear-gradient(90deg, rgb(0, 255, 136, .5)  0%, rgb(0, 255, 136,.4)  50%, transparent 50%);
    height: 100vh;
} */